<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barangku"
        tools:targetApi="31">
        <activity
            android:name=".activity.user_activity.KelolaUser"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.RiwayatPengajuan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.Pengajuan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanKeluarBulanan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanKeluarMingguan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanKeluarHarian"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanMasukBulanan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanMasukMingguan"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanMasukHarian"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanKeluar"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanMasuk"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.laporan.LaporanClient"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.user_activity.TambahAdmin"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.LupaPassword"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.StockBarang"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.Admin"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.laporan.Laporan"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.Client"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.BarangKeluar"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.BarangMasuk"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.Register"
            android:exported="false"
            android:parentActivityName=".activity.user_activity.MainActivity" />
        <activity
            android:name=".activity.user_activity.Login"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.user_activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user_activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>